doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Books Every Software Developer Should Read
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='keywords' content='')
    meta(name='robots' content='index,follow')
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Exo+2:400,700,400italic")
    link(rel='stylesheet' href='//jenil.github.io/bulmaswatch/lumen/bulmaswatch.min.css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.4/es6-shim.min.js")
    style.
      body, button, input, select, textarea {
        font-family: 'Exo 2'
      }
    link(rel='shortcut icon' href='/favicon.png')
    link(rel='icon' href='/favicon.png')
    script(src='//use.fontawesome.com/releases/v5.2.0/js/all.js' defer='')
  body
    #vue